<div class="w-full p-5 border shadow-sm flex justify-between">
    <div class="w-1/2"></div>
    <div class="w-1/2">
        <table class="min-w-full bg-white">
            <tbody class="divide-y divide-gray-300">
                <tr class="h-10">
                    <td class="w-1/3">NAMA</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.nama %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">NISN</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.nisn %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Tanggal Lahir</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= formattedTL %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Tempat Lahir</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.tempatLahir %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Jenis Kelamin</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.jenisKelamin %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Kelas</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.kelas %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Nomor HP</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.nohp %></td>
                </tr>
                <tr class="h-10">
                    <td class="w-1/3">Email</td>
                    <td>:</td>
                    <td class="w-2/3 pl-5"><%= siswa.email %></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>